header {
    font-size: 0;
    color: transparent;
    display: none;
    content: none;
}


.wrapper {
    background-color: white !important;
    padding: 5px; /* adjust to keep it from sticking out of the rounded corners of section */
}

footer {
    display: none;
}

.content p {
    color: rgb(3, 0, 0);
}


